:root {
  --primary: #2c4251;
  --white: #fff;
  --dark: #222;
}

[data-theme="dark"] {
  --primary: #dbdbdc;
  --white: #222;
  --dark: #fff;
}

html {
  font-family: "Questrial", Open-Sans, sans-serif;
  font-display: swap;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
}

p {
  margin: 10px 0;
}
