:root {
  --primary: #2c4251;
  --white: #fff;
  --dark: #222;
}

html {
  font-family: "Questrial", Open-Sans, sans-serif;
  font-display: swap;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
}

p {
  margin: 10px 0;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: #dbdbdc;
    --white: #222;
    --dark: #fff;
  }
  body {
    background-color: var(--white);
  }
}
