@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --primary: #1770a2;
  --lightAccent: #4086ba;
  --darkAccent: #f22b4c;
  --white: #fff;
  --dark: #0f0a0a;
}

body {
  margin: 0;
  font-display: swap;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary);
}
